<%= form_for :session, url: login_path, method: :post, html: { id: 'login-form' } do |f| %>

  <% if @errors %>
  	<p><%= @errors %></p>
  <% end %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.submit 'Login' %>

<% end %>
