<div class='row'>
	<div class='col-md-2'></div>
	<div class='col-md-8'>
		<div class='row'>
			<div class='col-md-12'>
				<p class='home'>Auroraland's finest club since 1893</p>
				<h3 class='home'>
					<span id='announcement_title' data-mercury='full' contenteditable='true'>
						<%= raw @announcement.title %>
					</span>
				</h3>
				<% if logged_in? && current_user.is_admin %>
				    <p><%= link_to 'Edit Announcments', '/editor/home', id: 'edit_link', data: {save_url: mercury_update_announcement_path(@announcement)} %></p>
				  <% end %>
				<div id='announcement_announcements' data-mercury='full' contenteditable='true'>
					<%= raw @announcement.announcements %>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<%= image_tag 'PhoenixClub-2009', {id: 'pc2009'} %>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<h2>Stay Up To Date With The Phoenix Club Of Aurora</h2>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-3'>
				<% if @newsletter %>
					<%= button_to 'Latest Newsletter', @newsletter.newsletter_file.url, {method: :get, class: 'btn btn-danger'} %>
				<% end %>
			</div>
			<div class='col-md-3'>
				<% if @calendar %>
					<%= button_to 'Latest Calendar', @calendar.calendar_file.url, {method: :get, class: 'btn btn-warning'} %>
				<% end %>
			</div>
			<div class='col-md-6'></div>
		</div>
	</div>
	<div class='col-md-2'></div>
</div>