<h1>What's Happening This Month</h1>

<%= render 'shared/flash' %>

<% @calendars.each do |calendar| %>
	<p><%= link_to "#{calendar.month} #{calendar.year}", calendar.calendar_file.url %>
		<% if session[:member_id] && current_user.is_admin %>
				 | <%= link_to 'Edit Calendar', edit_calendar_path(calendar) %>  | 
				<%= link_to 'Remove Calendar', calendar_path(calendar), {method: :delete} %>
		<% end %>
	</p>
<% end %>


<%= link_to "Add Calendar", new_calendar_path if session[:member_id] && current_user.is_admin %>