<!DOCTYPE html>
<html>
  <head>
    <title>PCA</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'>
    </script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='main'>
      <% if logged_in? %>
        <p id='session'>Welcome, <%= current_user.name %>. <%= link_to 'Your Profile', member_path(current_user) %>, <%= link_to "Logout", logout_path %></p>
      <% else %>
        <p id='session'><%= link_to "Login", login_path %></p>
      <% end %>

      <%= image_tag 'header-phoenix', {id: 'logo'} %>
      <table id='nav-bar'>
        <tr>
          <td><%= link_to 'Home', home_path %></td>
          <td><%= link_to 'History', history_path %></td>
          <td><%= link_to 'Newsletters', '#' %></td>
          <td><%= link_to 'Calendars', calendars_path %></td>
          <td><%= link_to 'Photos', '#' %></td>
          <td><%= link_to 'Member Businesses', '#' %></td>
          <% if logged_in? && current_user.is_admin %>
            <td><%= link_to 'Admin', admin_path %></td>
          <% end %>
        </tr>
      </table>
      <%= yield %>
    </div>
  </body>
</html>
